<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>41764237916-8ua26v22s6rt2k4qu38nvd3i4k4qkvos.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.41764237916-8ua26v22s6rt2k4qu38nvd3i4k4qkvos</string>
        <key>API_KEY</key>
        <string>AIzaSyAtTWwIzAAE2m3NmnfuJ_J4jjlec-fBVV8</string>
        <key>GCM_SENDER_ID</key>
        <string>41764237916</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.safeway.scanandgoent</string>
        <key>PROJECT_ID</key>
        <string>u-checkout</string>
        <key>STORAGE_BUCKET</key>
        <string>u-checkout.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:41764237916:ios:c4c28b44e26cedbf4d2c99</string>
        <key>DATABASE_URL</key>
        <string>https://u-checkout.firebaseio.com</string>
    </dict>
</plist>

